USE [master]
GO
/****** Object:  Database [WVO]    Script Date: 17.01.2023 20:02:29 ******/
CREATE DATABASE [WVO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WVO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WVO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WVO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WVO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WVO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WVO]
GO
/****** Object:  User [sa]    Script Date: 17.01.2023 20:02:29 ******/
CREATE USER [sa] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [kullanıcı]    Script Date: 17.01.2023 20:02:29 ******/
CREATE USER [kullanıcı] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[kullanıcı]
GO
ALTER ROLE [db_owner] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_datareader] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [kullanıcı]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [kullanıcı]
GO
/****** Object:  Schema [kullanıcı]    Script Date: 17.01.2023 20:02:29 ******/
CREATE SCHEMA [kullanıcı]
GO
/****** Object:  Table [dbo].[Ders]    Script Date: 17.01.2023 20:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dersad] [varchar](20) NULL,
	[Kredi] [varchar](2) NULL,
	[OkulYonetimId] [int] NULL,
 CONSTRAINT [PK_Ders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 17.01.2023 20:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciAdSoyad] [varchar](20) NULL,
	[KayıtTarih] [datetime2](7) NULL,
	[OgrenciNo] [varchar](10) NULL,
	[DTarih] [date] NULL,
	[Bolum] [varchar](25) NULL,
 CONSTRAINT [PK_Ogrenci] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrenciDers]    Script Date: 17.01.2023 20:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciDers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciId] [int] NULL,
	[DersId] [int] NULL,
 CONSTRAINT [PK_OgrenciDers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yonetim]    Script Date: 17.01.2023 20:02:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yonetim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YonetimAdSoyad] [varchar](20) NULL,
	[Görevi] [varchar](10) NULL,
	[YonetimTipi] [varchar](10) NULL,
 CONSTRAINT [PK_Yonetim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ders] ON 

INSERT [dbo].[Ders] ([Id], [Dersad], [Kredi], [OkulYonetimId]) VALUES (1, N'Tarih', N'4', 1)
INSERT [dbo].[Ders] ([Id], [Dersad], [Kredi], [OkulYonetimId]) VALUES (2, N'Matematik', N'4', 1)
SET IDENTITY_INSERT [dbo].[Ders] OFF
GO
SET IDENTITY_INSERT [dbo].[Ogrenci] ON 

INSERT [dbo].[Ogrenci] ([Id], [OgrenciAdSoyad], [KayıtTarih], [OgrenciNo], [DTarih], [Bolum]) VALUES (1, N'ahmetburak durmus', CAST(N'2020-09-20T00:00:00.0000000' AS DateTime2), N'2020328348', CAST(N'2000-08-20' AS Date), N'bilgisayar progamciligi')
SET IDENTITY_INSERT [dbo].[Ogrenci] OFF
GO
SET IDENTITY_INSERT [dbo].[OgrenciDers] ON 

INSERT [dbo].[OgrenciDers] ([Id], [OgrenciId], [DersId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[OgrenciDers] OFF
GO
SET IDENTITY_INSERT [dbo].[Yonetim] ON 

INSERT [dbo].[Yonetim] ([Id], [YonetimAdSoyad], [Görevi], [YonetimTipi]) VALUES (1, N'Sükrü', N'ögretmen', N'1')
SET IDENTITY_INSERT [dbo].[Yonetim] OFF
GO
ALTER TABLE [dbo].[Ders]  WITH CHECK ADD  CONSTRAINT [FK_Ders_Yonetim] FOREIGN KEY([OkulYonetimId])
REFERENCES [dbo].[Yonetim] ([Id])
GO
ALTER TABLE [dbo].[Ders] CHECK CONSTRAINT [FK_Ders_Yonetim]
GO
ALTER TABLE [dbo].[OgrenciDers]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciDers_Ders] FOREIGN KEY([DersId])
REFERENCES [dbo].[Ders] ([Id])
GO
ALTER TABLE [dbo].[OgrenciDers] CHECK CONSTRAINT [FK_OgrenciDers_Ders]
GO
ALTER TABLE [dbo].[OgrenciDers]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciDers_Ogrenci] FOREIGN KEY([OgrenciId])
REFERENCES [dbo].[Ogrenci] ([Id])
GO
ALTER TABLE [dbo].[OgrenciDers] CHECK CONSTRAINT [FK_OgrenciDers_Ogrenci]
GO
USE [master]
GO
